@import "../node_modules/material-design-lite/src/mixins";
@import "../node_modules/material-design-lite/src/variables";
@import "variables";

.mdl-button {

  &:focus:not(:active) {
    background-color: transparent;
  }

  &:active { }

  &.mdl-button--colored {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $green;
    }

    &:focus:not(:active) {
      background-color: $green;
    }
  }

  &.mdl-button--green-soft {
    background-color: $greenSoft;
    color: $white;

    &:active {
      background-color: $gray65 !important;
    }

    &:hover {
      background-color: $greenSoft;
    }

    &:focus:not(:active) {
      background-color: $greenSoft;
    }
  }

  &.mdl-button--white {
    background-color: $gray96;
    color: $gray25;

    &:hover {
      background-color: $white !important;
    }

    &:active {
      color: $white !important;
      background-color: $gray65 !important;
    }

    &:focus:not(:active) {
      background-color: $gray96;
    }
  }

  &.mdl-button--red {
    background-color: $red;
    color: $white;

    &:active {
      //background-color: $gray65 !important;
    }

    &:hover {
      background-color: $red;
    }

    &:focus:not(:active) {
      background-color: $red;
    }
  }

  &.mdl-button__selected {
    &--red, &--red:hover, &--red:active {
      color: $white !important;
      background-color: $red !important;
    }
  }
}

// Raised buttons
.mdl-button--raised {

  &:active {
    @include shadow-4dp();
  }

  &:focus:not(:active) {
    @include shadow-2dp();
  }

  &.mdl-button--colored {
    &:active {
      background-color: $gray55;
    }
  }

}

// FABs
.mdl-button--fab {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24) !important;
}