@import "../node_modules/material-design-lite/src/variables";
@import "../node_modules/material-design-lite/src/mixins";
@import "variables";

.schedule-dialog {

  width: 800px;

  &--850 {
    width: 850px;
  }

  &__btn_left {
    margin-right: auto;
  }

  &__btn_close {
    position: absolute;
    right: $indent * 2;
    top: $indent * 2;
  }

  .mdl-dialog {
    &__title {
      @include typo-title;
      color: $black;
    }
    &__content {
      color: $black;
    }
    &__actions {
      padding: $indent / 2;
    }
  }
}
