<template>

    <require from="../test"></require>

    <require from="../stick-top"></require>
    <require from="../bar/bar"></require>
    <require from="../new_work_shift_dialog/newWorkShiftDialog"></require>

    <style>
        .mdl-layout__header {
            position: relative;
            z-index: 100;
            background-color: #536d79;
        }
        .mdl-navigation__link {
            position: relative;
            text-transform: uppercase;
        }
        .active:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: white;
        }
    </style>
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Календарь</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href=""
                   class.bind="period === 'day' && 'active'"
                   click.trigger="setPeriod('day')">
                    День
                </a>
                <a class="mdl-navigation__link" href=""
                   class.bind="period === 'week' && 'active'"
                   click.trigger="setPeriod('week')">
                    Неделя
                </a>
                <a class="mdl-navigation__link" href=""
                   class.bind="period === 'month' && 'active'"
                   click.trigger="setPeriod('month')">
                    Месяц
                </a>
            </nav>
        </div>
    </header>

    <div class="schedule"
         class.bind="(period === 'day' && 'schedule__days')   ||
                     (period === 'week' && 'schedule__weeks') ||
                     (period === 'month' && 'schedule__months')"
         ref="schedule">
        <div class="schedule__ctrl">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    hide.bind="isCurrentDate"
                    click.trigger="toCurrent()">
                <i class="mdi"
                   class.bind="selectedTime > 0 ? 'mdi-chevron-double-left' : 'mdi-chevron-double-right'"></i>
            </button>
            &nbsp;&nbsp;
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    click.trigger="move(-1)">
                <i class="mdi mdi-chevron-left"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    click.trigger="move(1)">
                <i class="mdi mdi-chevron-right"></i>
            </button>
        </div>
        <div class="schedule-panel">
            <div class="schedule-panel__head">
                <button class="schedule-panel__btn_all">Все салоны</button>
            </div>
            <div repeat.for="group of employersArray">
                <div class="schedule-panel__item_group"
                     click.trigger="group.hide = !group.hide">
                    <div class="schedule-panel__left">
                        <span class="mdi" class.bind="group.hide ? 'mdi-chevron-right' : 'mdi-chevron-down'"></span>
                    </div>
                    <div class="schedule-panel__right">
                        <div class="schedule-panel__name">${group.name}</div>
                    </div>
                </div>
                <div class="schedule-panel__item"
                     show.bind="!group.hide"
                     repeat.for="employer of group.employers">
                    <div class="schedule-panel__left">
                        <div class="schedule-panel__user_pic"
                             class.bind="'schedule-color__color_' + employer.colorCode"></div>
                    </div>
                    <div class="schedule-panel__right">
                        <div class="schedule-panel__name">${employer.name}</div>
                        <div class="schedule-panel__position">
                            <div class="schedule-panel__post">${employer.role}</div>
                            <div class="schedule-panel__info" show.bind="false">
                                <span class="schedule-panel__gray">28</span>&nbsp;/&nbsp;<span>40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule__timeline" stick-top>
            <div class="schedule__container"
                 class.bind="animate && 'schedule__animation'"
                 css.bind="{'transform': 'translateX(' + translateX + 'px)'}">
                <div class="schedule__group"
                     repeat.for="level1 of dateArray"
                     class.bind="(level1.time < 0 && 'schedule__group_past') ||
                                 (level1.time === 0 && 'schedule__group_today')">
                    <div class="schedule__title">
                        <div class="schedule__date">
                            <span if.bind="period === 'day'">
                                ${dateFormat(level1[0], 'D MMMM, dddd')}
                            </span>
                            <span if.bind="period === 'week'">
                                ${dateFormat(level1[0], 'D MMMM')} – ${dateFormat(level1[6], 'D MMMM')}
                            </span>
                            <span if.bind="period === 'month'">
                                ${dateFormat(level1[0], 'MMMM')}
                            </span>
                        </div>
                        <div class="schedule__today"
                             show.bind="level1.time === 0">
                            <span if.bind="period === 'day'">Сегодня</span>
                            <span if.bind="period === 'week'">Текущая неделя</span>
                            <span if.bind="period === 'month'">Текущий месяц</span>
                        </div>
                    </div>
                    <div class="schedule__separator"></div>
                    <div class="schedule__marks">
                        <div class="schedule__mark"
                             repeat.for="level2 of level1"
                             class.bind="level2.active ? '' : 'schedule__mark_passive'">
                            <span if.bind="period === 'day'">${level2.getHours()}<sup>00</sup></span>
                            <span if.bind="period === 'week'">${dateFormat(level2, 'ddd, D')}</span>
                            <span if.bind="period === 'month'">${dateFormat(level2, 'D')}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule__content"
             class.bind="animate && 'schedule__animation'"
             css.bind="{'transform': 'translateX(' + translateX + 'px)'}">
            <div class="schedule__row_group"
                 repeat.for="group of employersArray">
                <div class="schedule__group"
                     repeat.for="level1 of dateArray"
                     class.bind="level1.time < 0 && 'schedule__group_past'">
                    <div class="schedule__layout">
                        <div class="schedule__row_conflict">
                            <div class="schedule__layout_cell"
                                 repeat.for="level2 of level1"></div>
                        </div>
                        <div class="schedule__row"
                             show.bind="!group.hide"
                             repeat.for="employer of group.employers">
                            <div class="schedule__layout_cell"
                                 repeat.for="level2 of level1">

                                <!--<bar if.bind="showAllBars"-->
                                     <!--data.bind="{-->
                                        <!--scalable:  false,-->
                                        <!--disable:   period === 'day',-->
                                        <!--period:    period,-->
                                        <!--time:      level1.time,-->
                                        <!--colorCode: employer.colorCode,-->
                                        <!--data:      getEvent(employer.id, level2)-->
                                     <!--}"></bar>-->

                                <!--<div class="bar"-->
                                     <!--if.bind="showAllBars && getEvent(employer.id, level2)"-->
                                     <!--class.bind="(level1.time < 0 ?-->
                                                  <!--'bar&#45;&#45;past schedule-color__past_' + employer.colorCode :-->
                                                  <!--'schedule-color__' + employer.colorCode) + ' ' +-->
                                                 <!--(period === 'month' ? 'bar&#45;&#45;wide' : '')">-->
                                <!--</div>-->
                                <!--<div class="bar bar&#45;&#45;add"-->
                                     <!--if.bind="showAllBars && !getEvent(employer.id, level2) && level1.time >= 0"-->
                                     <!--click.trigger="openAddEventDialog(group, employer)"-->
                                     <!--class.bind="('schedule-color__fade_' + employer.colorCode) + ' ' +-->
                                                 <!--(period === 'month' ? 'bar&#45;&#45;wide' : '')">-->
                                    <!--<i class="mdi mdi-plus"></i>-->
                                <!--</div>-->

                            </div>

                            <bar if.bind="showDayBars"
                                 data.bind="{
                                    scalable:  true,
                                    disable:   period !== 'day',
                                    period:    period,
                                    time:      level1.time,
                                    startDate: level1[0],
                                    endDate:   level1[level1.length - 1],
                                    cells:     level1.length,
                                    cellWidth: cellWidth,
                                    colorCode: employer.colorCode,
                                    data:      getEvent(employer.id, level1[0])
                                 }"></bar>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <new-work-shift-dialog data.bind="newWorkShiftData"></new-work-shift-dialog>

</template>