<template>
    <require from="../stick-top"></require>
    <require from="../work-shift-dialog/work-shift-dialog"></require>
    <require from="../conflict-shift-dialog/conflict-shift-dialog"></require>
    <require from="../snack-bar/snack-bar"></require>
    <require from="../bar/bar"></require>
    <require from="../bar-size"></require>
    <require from="../bar-touch"></require>

    <div class="schedule" class.bind="periodClass" ref="schedule">
        <div class="schedule-panel">
            <div class="schedule-panel__head">
                <button class="schedule-panel__btn_all">Все салоны</button>
            </div>
            <div repeat.for="place of employersArray">
                <div class="schedule-panel__item_group"
                     click.trigger="place.hide = !place.hide">
                    <div class="schedule-panel__left">
                        <span class="mdi" class.bind="place.hide ? 'mdi-chevron-right' : 'mdi-chevron-down'"></span>
                    </div>
                    <div class="schedule-panel__right">
                        <div class="schedule-panel__name">${place.name}</div>
                    </div>
                </div>
                <div class="schedule-panel__item"
                     repeat.for="employer of place.employers"
                     show.bind="!place.hide">
                    <div class="schedule-panel__left">
                        <div class="schedule-panel__user_pic"
                             class.bind="'schedule-color__color_' + employer.colorCode"></div>
                    </div>
                    <div class="schedule-panel__right">
                        <div class="schedule-panel__name">${employer.name}</div>
                        <div class="schedule-panel__position">
                            <div class="schedule-panel__post">${employer.role}</div>
                            <div class="schedule-panel__info" show.bind="false">
                                <span class="schedule-panel__gray">28</span>&nbsp;/&nbsp;<span>40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule__ctrl schedule__ctrl--right schedule__ctrl--bottom">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    hide.bind="isCurrentDate"
                    click.trigger="toCurrent()">
                <i class="mdi"
                   class.bind="selectedTime > 0 ? 'mdi-chevron-double-left' : 'mdi-chevron-double-right'"></i>
            </button>
            &nbsp;&nbsp;
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    click.trigger="move(-1)">
                <i class="mdi mdi-chevron-left"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--white"
                    click.trigger="move(1)">
                <i class="mdi mdi-chevron-right"></i>
            </button>
        </div>
        <div class="schedule__timeline" stick-top>
            <div class="schedule__container"
                 class.bind="animate && 'schedule__animation'"
                 css.bind="{'transform': 'translateX(' + translateX + 'px)'}">
                <div class="schedule__group"
                     repeat.for="level1 of dateArray"
                     class.bind="(level1.time < 0 && 'schedule__group_past') ||
                                 (level1.time === 0 && 'schedule__group_today')">
                    <div class="schedule__title">
                        <div class="schedule__date">
                            <span if.bind="period === 'day'">
                                ${dateFormat(level1.dateArray[0].date, 'D MMMM, dddd')}
                            </span>
                            <span if.bind="period === 'week'">
                                ${dateFormat(level1.dateArray[0].date, 'D MMMM')} – ${dateFormat(level1.dateArray[6].date, 'D MMMM')}
                            </span>
                            <span if.bind="period === 'month'">
                                ${dateFormat(level1.dateArray[0].date, 'MMMM')}
                            </span>
                        </div>
                        <div class="schedule__today"
                             show.bind="level1.time === 0">
                            <span if.bind="period === 'day'">Сегодня</span>
                            <span if.bind="period === 'week'">Текущая неделя</span>
                            <span if.bind="period === 'month'">Текущий месяц</span>
                        </div>
                    </div>
                    <div class="schedule__separator"></div>
                    <div class="schedule__marks">
                        <div class="schedule__mark"
                             repeat.for="level2 of level1.dateArray"
                             class.bind="level2.active ? '' : 'schedule__mark_passive'">
                            <span if.bind="period === 'day'">${level2.date.getHours()}<sup>00</sup></span>
                            <span if.bind="period === 'week'">${dateFormat(level2.date, 'ddd, D')}</span>
                            <span if.bind="period === 'month'">${dateFormat(level2.date, 'D')}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="schedule__content"
             class.bind="animate && 'schedule__animation'"
             css.bind="{'transform': 'translateX(' + translateX + 'px)'}">
            <div class="schedule__row_group"
                 repeat.for="place of employersArray">
                <div class="schedule__group"
                     repeat.for="level1 of dateArray"
                     class.bind="level1.time < 0 && 'schedule__group_past'">
                    <div class="schedule__layout">
                        <div class="schedule__row_conflict">
                            <div class="schedule__layout_cell"
                                 repeat.for="level2 of level1.dateArray">
                                <div class="bar bar--small"
                                     class.bind="period === 'month' ? 'bar--wide' : ''"
                                     if.bind="period !== 'day' &&
                                              level1.time >= 0 &&
                                              getConflict(place.id, level2.date)"
                                     click.trigger="openConflictShiftDialog(place, level2.date)"></div>
                            </div>

                            <div class="bar bar--small"
                                 if.bind="period === 'day' &&
                                          level1.time >= 0"
                                 bar-size.bind="{
                                    startDate: level1.dateArray[0].date,
                                    endDate:   level1.dateArray[level1.dateArray.length - 1].date,
                                    cellWidth: cellWidth,
                                    data: getConflict(place.id, level1.dateArray[0].date)
                                 }"
                                 click.trigger="openConflictShiftDialog(place, level1.dateArray[0].date)"></div>

                        </div>
                        <div class="schedule__row"
                             show.bind="!place.hide"
                             repeat.for="employer of place.employers">
                            <div class="schedule__layout_cell"
                                 repeat.for="level2 of level1.dateArray">

                                <div class="bar"
                                     bar-touch.bind="{
                                        level1:   level1,
                                        level2:   level2,
                                        place:    place,
                                        employer: employer,
                                        shift:    getShift(employer.id, level2.date),
                                        context:  context
                                     }">
                                    <i class="mdi mdi-plus"></i>
                                </div>

                                <!--<div class="bar"-->
                                     <!--if.bind="inflated &&-->
                                              <!--period !== 'day' &&-->
                                              <!--getShift(employer.id, level2.date)"-->
                                     <!--click.trigger="openWorkShiftDialog(place, employer, level2.date, getShift(employer.id, level2.date))"-->
                                     <!--class.bind="(level1.time < 0 ?-->
                                                  <!--'bar&#45;&#45;past schedule-color__past_' + employer.colorCode :-->
                                                  <!--'schedule-color__' + employer.colorCode) + ' ' +-->
                                                 <!--(period === 'month' ? 'bar&#45;&#45;wide' : '')"></div>-->
                                <!--<div class="bar bar&#45;&#45;add"-->
                                     <!--if.bind="inflated &&-->
                                              <!--period !== 'day' &&-->
                                              <!--level1.time >= 0 &&-->
                                              <!--!getShift(employer.id, level2.date)"-->
                                     <!--click.trigger="openWorkShiftDialog(place, employer, level2.date)"-->
                                     <!--class.bind="('schedule-color__fade_' + employer.colorCode) + ' ' +-->
                                                 <!--(period === 'month' ? 'bar&#45;&#45;wide' : '')">-->
                                    <!--<i class="mdi mdi-plus"></i>-->
                                <!--</div>-->

                            </div>

                            <bar if.bind="inflated && period === 'day'"
                                 config.bind="{
                                    scalable:  true,
                                    time:      level1.time,
                                    startDate: level1.dateArray[0].date,
                                    endDate:   level1.dateArray[level1.dateArray.length - 1].date,
                                    cells:     level1.dateArray.length,
                                    cellWidth: cellWidth,
                                    colorCode: employer.colorCode
                                 }"
                                 data.bind="getShift(employer.id, level1.dateArray[0].date)"
                                 containerless></bar>

                        </div>
                    </div>
                </div>
            </div>
            <div class="schedule__now" style.bind="'left: ' + markCurrentLeft + 'px'"></div>
        </div>
    </div>

    <work-shift-dialog data.bind="newWorkShiftData"></work-shift-dialog>
    <conflict-shift-dialog data.bind="conflictShiftData"></conflict-shift-dialog>
    <snack-bar data.bind="snackBarData"></snack-bar>

</template>