<template>

    <div class="bar"
         ref="bar"
         show.bind="show"
         style.bind="'left:' + left + 'px' + '; ' + 'right:' + right + 'px'"
         class.bind="(config.time < 0 ?'bar--past schedule-color__past_' + config.colorCode : 'schedule-color__' + config.colorCode)
                     + ' ' +
                     (config.scalable ? 'bar--moving': '')
                     + ' ' +
                     (config.period === 'month' ? 'bar--wide' : '')">

        <div class="bar__drag bar__drag--left mdi mdi-drag-vertical"
             if.bind="config.scalable && config.time >= 0"></div>
        <div class="bar__drag bar__drag--right mdi mdi-drag-vertical"
             if.bind="config.scalable && config.time >= 0"></div>

    </div>

</template>