<template>
    <dialog class="schedule-dialog schedule-dialog--850 mdl-dialog"
            ref="dialog">
        <h4 class="mdl-dialog__title">Добавление смены</h4>
        <div class="mdl-dialog__content">
            <div class="shift">
                <div class="shift__cell_full">
                    <div class="shift__text">${data.group.name}</div>
                    <br>
                    <div class="shift__text mdl-typography--caption shift__sub_title">Сотрудник</div>
                    <div class="shift__row_time shift__row_time--left">
                        <div class="shift__left">
                            <div class="shift__user_pic schedule-color__color_${data.employer.colorCode}"></div>
                        </div>
                        <div class="shift__right">
                            <div class="shift__name">${data.employer.name}</div>
                            <div class="shift__position">
                                <div class="shift__post">${data.employer.role}</div>
                                <div class="shift__info" style="display: none">
                                    <span class="color__color--red">42</span>&nbsp;/&nbsp;<span class="color__color--gray55">40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shift__cell">
                    <div class="shift__text">20 ноября, пятница</div>
                    <br>
                    <div class="shift__text shift__marks shift__sub_title">
                        <div class="shift__mark shift__mark_passive">
                            6<sup>00</sup>
                        </div>
                        <div class="shift__mark shift__mark_passive">
                            7<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            8<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            9<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            10<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            11<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            12<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            13<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            14<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            15<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            16<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            17<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            18<sup>00</sup>
                        </div>
                        <div class="shift__mark">
                            19<sup>00</sup>
                        </div>
                        <div class="shift__mark shift__mark_passive">
                            20<sup>00</sup>
                        </div>
                        <div class="shift__mark shift__mark_passive">
                            21<sup>00</sup>
                        </div>
                    </div>
                    <div class="shift__row_time">
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="shift__cell_time"></div>
                        <div class="bar schedule-color__78" style="left: 76px;width: 423px;">
                            <div class="bar__drag bar__drag--left mdi mdi-drag-vertical"></div>
                            <div class="bar__drag bar__drag--right mdi mdi-drag-vertical"></div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <p style="display: none">
                Внимание! У сотрудника овертайм <span class="color__color--red">2 часа</span>.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">СОХРАНИТЬ</button>
            <button type="button" class="mdl-button"
                    click.trigger="close()">ОТМЕНИТЬ</button>
            <!--<button type="button" class="mdl-button schedule-dialog__btn_left">СБРОСИТЬ</button>-->
        </div>
    </dialog>
</template>